*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

:root {
  --dark-purple: #2d0e44;
  --regular-purple: #AD01C3;
  /* --light-purple: #9F72D4; */
  --light-purple: #684294;
  --dark-blue: #13005A;
  --dull-blue: #064994;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #ebe7e7;
  /* background: #66a5ff; */

  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}