@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

.disabled:hover {
  cursor: not-allowed;
}

.name {
  font-family: "Kalam", cursive;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  opacity: 0;
  animation: name 2s forwards;
  animation-delay: 1s;
}

.repo-details-page {
  padding: 0 40px;
}

.repo-details {
  border: 5px solid #fff;
  border-radius: 20px;
  padding-bottom: 30px;
  max-width: 800px;
  min-width: 650px;
  margin: 0 auto;
  background-color: #d0dbf4f1;
  box-shadow: 5px 5px 3px #646363a8;
  animation: details 2s;
}

.des {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 1.8rem;
  color: #333;
}

.attributes {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 70% auto;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.attribute-1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  padding: 20px 20px;
  background-color: #f2f3f8;
  box-shadow: 5px 5px 3px #b4b1b1;
}

.attribute-1 p {
  font-family: "Kalam", cursive;
  font-size: 1.3rem;
}

.det {
  font-size: 1.1rem;
  opacity: 0.8;
}

.attribute-2 {
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f3f8;
  box-shadow: 5px 5px 3px #b4b1b1;
}

.repo-a {
  display: block;
  font-family: "Kalam", cursive;
  text-decoration: none;
  color: #333;
  /* border: 2px solid black; */
  width: max-content;
  padding: 1px 20px;
  border-radius: 20px;
  /* background-color: #fde7e7; */
  background-color: #9be7f04e;
  box-shadow: 2px 2px 2px #bd7070;
}

.repo-a:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.icon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}

.ic1:hover {
  transition: 0.4s ease-in;
  background-color: #d1ebd8;
  transform: translateY(-3px);
}

.ic2:hover {
  transition: 0.4s ease-in;
  background-color: #99c2ff;
  transform: translateY(-3px);
}

.star:hover {
  transition: 0.7s;
  transform: rotate(360deg);
}

.lang-icon:hover {
  transition: 0.4s ease-in;
  transform: translateY(-3px);
}

.topic {
  font-size: 1.5rem;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  text-align: center;
}

.topic:first-child:hover {
  transition: 0.4s ease-in;
  transform: translateY(-3px);
  background-color: #c0eded;
}

.topic:nth-child(2):hover {
  transition: 0.4s;
  transform: translateY(-3px);
  background-color: #fdd1ff;
}

.lang-icon {
  font-size: 1.5rem;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  text-align: center;
}

.back-btn {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #98a5d2f0;
  box-shadow: 3px 3px 2px #33333390;
}

.back {
  font-size: 2rem;
  color: #fafafae5;
}

.back-btn:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

@keyframes details {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes name {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1400px) {
  .name {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .des {
    font-size: 2.3rem;
  }

  .attribute-1 p {
    font-size: 1.6rem;
  }

  .det {
    font-size: 1.3rem;
  }

  .repo-a {
    font-size: 1.2rem;
  }

  .back {
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .attributes {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
  }
  .topic {
    display: none;
  }

  .attribute-1 {
    gap: 15px;
  }

  .attribute-2 {
    flex-direction: row;
    padding: 10px;
  }
  .repo-details {
    min-width: 300px;
    max-width: 400px;
    padding-bottom: 5px;
  }

  .des {
    display: none;
  }

  .back-btn {
    margin-bottom: 0px;
  }

  .name {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 650px) {
  .repo-details {
    margin-left: -40px;
    min-width: 330px;
    max-width: 400px;
  }

}